#app-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-top: 1px;
    margin-bottom: 39px;
}

ion-img {
    width: 78px;
    height: 78px;
}

ion-menu {
    background-color: black;
}

ion-item {
    cursor: pointer;
}

ion-item:hover {
    background-color: #ddd;
    font-weight: bold;
    opacity: 0.8;
    color: black;
    ion-icon {
        color: black;
    }
}

ion-tabs {
    tab-size: 15%;
    --ion-tab-bar-background: linear-gradient(#157eff, royalblue);
    ion-tab-button {
        color: white;
        font-size: 7px;
        width: 20%;
    }
}