ion-content {
    --ion-background-color: #eee;
}

.datebar {
    background: white;
    color: black;
    margin: 5px 15px 5px 15px;
    padding: 5px 5px 5px 5px;
}

.dashdiv {
    text-align: center;
    background-color: #4169e1;
    /* For browsers that do not support gradients */
    // horizontal 
    background-image: linear-gradient(#0083c8, royalblue);
    // background: vertical-gradient(90deg, rgb(18, 6, 231) 0%, rgba(0, 212, 255, 1) 100%);
    // vertcal 
    // background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(18, 32, 38, 1) 0%, rgba(0, 212, 255, 1) 100%);
    padding: 5px;
}

ion-col {
    margin: 5px;
    border: 5px;
    border-color: black;
    color: black;
}

.chart {
    color: black;
    border-color: lightblue;
    border: 3px;
}